{# templates/documentation/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}

<div class="w3-row w3-margin-top">
<div class="w3-quarter w3-container">

<div class="w3-bar-block">
{% set lineNumber = 0 %}
{% set lineNumber = lineNumber + 1 %}
{% set lineColor = (pageCode == 'USER') ? 'indigo' : ((lineNumber is odd) ? 'sand' : 'transparent') %}
<a href="{{ path('documentation', { 'pageCode': 'USER' }) }}" class="w3-bar-item w3-button w3-round-large w3-{{ lineColor }}"><i class="w3-xlarge fa fa-book"></i>&nbsp;{{ 'users'|trans }}</a>
{% set lineNumber = lineNumber + 1 %}
{% set lineColor = (pageCode == 'FILE') ? 'indigo' : ((lineNumber is odd) ? 'sand' : 'transparent') %}
<a href="{{ path('documentation', { 'pageCode': 'FILE' }) }}" class="w3-bar-item w3-button w3-round-large w3-{{ lineColor }}"><i class="w3-xlarge fa fa-book"></i>&nbsp;{{ 'file.plural'|trans }}</a>
{% set lineNumber = lineNumber + 1 %}
{% set lineColor = (pageCode == 'USERFILE') ? 'indigo' : ((lineNumber is odd) ? 'sand' : 'transparent') %}
<a href="{{ path('documentation', { 'pageCode': 'USERFILE' }) }}" class="w3-bar-item w3-button w3-round-large w3-{{ lineColor }}"><i class="w3-xlarge fa fa-book"></i>&nbsp;{{ 'users'|trans }}</a>
{% set lineNumber = lineNumber + 1 %}
{% set lineColor = (pageCode == 'TIMETABLE') ? 'indigo' : ((lineNumber is odd) ? 'sand' : 'transparent') %}
<a href="{{ path('documentation', { 'pageCode': 'TIMETABLE' }) }}" class="w3-bar-item w3-button w3-round-large w3-{{ lineColor }}"><i class="w3-xlarge fa fa-book"></i>&nbsp;{{ 'timetable.plural'|trans }}</a>
</div>
</div>

<div class="w3-threequarter w3-container">
{{ include('documentation/help.' ~ pageCode ~ '.html.twig') }}
</div>

</div>

{% endblock %}
